

canvas {
	margin: auto;
	border-style: solid;
	border-radius: 10px;
	box-shadow: 0 0 10px -10px inset;
	color: #eef2f0;
}

.score {
	position: fixed;
	top: 0;
	left: calc(50% - 75px);
	width: 150px;
	height: 40px;
	display: flex;
	background-color: black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
	align-items: center;
	font-size:20px;
	font-weight: bold;
	font-family: 'Consolas', 'Courier New', monospace;
}
.score-value {
	display: flex;
	margin: auto;
}

.team-cube {
	width: 20px;
	height: 20px;
	border-radius: 5px;
}

.team-cube--left {
	background-color: #e56e56;
	margin-right:8px;
}

.team-cube--right {
	background-color: #5689e5;
	margin-left:8px;
}