

canvas {
	max-height  100%
	max-width 100%
	margin auto
	border-style solid
	border-radius 10px
	box-shadow 0 0 10px -7px black
	color #eef2f0
}

.game-state
	position fixed
	top 0
	left calc(50% - 250px)
	width 500px
	height 40px
	display flex
	align-items center
	background-color black
	border-bottom-left-radius 5px
	border-bottom-right-radius 5px
	color white
	align-items center
	font-size 18px

	&__winning-team
		position fixed
		top calc(50% - 150px)
		left 0
		width 100vw
		text-align center
		height 60px
		line-height 60px
		font-size 55px
		font-weight 900
		text-shadow 4px 4px 0px black
		white-space nowrap

	&__scorer
		position fixed
		top 40px
		left 0
		width 100vw
		text-align center
		font-size 35px
		font-weight 900
		height 40px
		line-height 40px
		text-shadow 2px 2px 0px black
		white-space nowrap

		&--left
			color #e56e56

		&--right
			color #5689e5

	&__scorer-user
		position fixed
		top 80px
		left 0
		width 100vw
		text-align center
		font-size 25px
		font-weight 900
		height 40px
		line-height 40px
		text-shadow 2px 2px 0px black
		white-space nowrap

	&__score
		display flex
		align-items center
		flex 1
		justify-content center

		&__value
			display flex
			align-items center

	&__time
		flex 1
		justify-content center
		text-align center

	&__golden
		flex 1
		justify-content center
		text-align center
		color gold

.team-cube {
	width 20px
	height 20px
	border-radius 5px
}

.team-cube--left {
	background-color #e56e56
	margin-right 8px
}

.team-cube--right {
	background-color #5689e5
	margin-left 8px
}

.scoreboard-wrap
	position fixed
	z-index 10
	top calc(50% - 200px)
	left calc(50% - 250px)
	width 500px
	height 400px
	margin auto

	.scoreboard
		display flex
		flex-direction column
		margin auto
		background rgba(0, 0, 0, 0.5)
		box-shadow 0 0 10px 0px black

		&__header
			display flex
			padding 10px
			background rgba(0, 0, 0, 0.3)

		&__item
			display flex
			align-items center
			padding 10px

			&:nth-child(even)
				background rgba(0, 0, 0, 0.1)

			&--self
				font-weight 900
				background rgba(255,255,255, 0.2) !important

		&__column
			flex 1
			text-shadow 2px 2px 0px black

			&--centered
				text-align center