.centered
    display flex
    flex-direction column
    justify-content center
    margin auto

.list
    width 700px

.list-item
    display flex
    line-height 2
    background rgba(0, 0, 0, 0.1)
    color white
    flex 1

    &__column
        flex 1
    
        &--small
            max-width 50px

