.lobby
    position fixed
    width 900px
    height 500px
    left s("calc(50% - 450px)")
    top s("calc(50% - 250px)")
    display flex
    flex-direction column

    &__head
        display flex

        &__title
            flex 1
            font-size 18px
    
    &__body
        display flex
        padding-top 50px

        &__actions
            display flex
            flex-direction column
            justify-content center
            width 100px
        &__team
            flex 1
            margin 5px
            background rgba(0, 0, 0, 0.1)

            &__label
                margin-top -50px

            &__members
                display flex
                flex-direction column

            &__member
                display flex



