
.dialog
	--dialog-bg-color var(--background-color)
	--dialog-text-color var(--text-color)

	color var(--dialog-text-color)
	background-color var(--dialog-bg-color)
	margin auto auto
	padding 20px
	box-shadow 0px 10px 43px 0px rgba(0, 0, 0, 0.12)
	border-radius 8px

	&--fixed
		position fixed
		z-index 2

.form-field
	display flex
	flex-direction column
	margin 10px 0 25px 0

	&--flat
		margin 5px 0 0 0
	
	&__flex
		display flex
	
	& label
		padding 10px 8px
		letter-spacing .075em
		text-transform uppercase

	& select,
	& input
		font-size 2rem
		padding 15px 10px
		background-color var(--text-color)
		color var(--surface-color)
		border-radius 5px
		border none
		outline none

		&[readonly]
			background-color rgba(255, 255, 255, 0.2)
			cursor not-allowed

	&--avatar

		& input
			padding 5px
			border-radius 5px
			border none
			outline none
			width 80px
			height 80px
			font-size 3em
			text-align center

	&--small
		& label
			font-size .8em
			padding 8px
			text-align end

		& select,
		& input
			font-size .8em
			padding 4px 8px

	&--horizontal
		flex-direction row

.login_avatar_link
	display block
	color: var(--text-color)
	text-decoration none
	margin-bottom 20px
	text-align center

.legends
	margin 0 15px
	margin-top 0

	.avatars
		margin-top 10px
		font-size 20px
		max-width 400px
		line-height 150%
		display flex
		flex-wrap wrap

		.avatar
			cursor pointer
			width 40px
