.room
    display flex
    flex-direction column

    border-radius 5px
    height 100%
    width 100%

    &__game
        position relative
        top 40px
        max-height calc(100% - 230px)
        height 100%
        margin-left auto
        margin-right auto
        margin-bottom auto

    &__configuration
        display flex
        flex-direction column
        margin auto

    &__head
        display flex
        margin-top auto
        background rgba(0, 0, 0, 0.2)

        &__title
            flex 1
            font-size 18px
            font-weight 900
            border-bottom 1px solid
            color white
            padding 7px

        &__actions
            display flex
            justify-content center

    &__body
        display flex
        padding-top 15px
        padding-bottom 15px
        background rgba(0, 0, 0, 0.2)

        &__team
            flex 1
            margin 1px
            background rgba(0, 0, 0, 0.6)
            color white
            min-height 300px
            min-width 200px

            &__label
                text-align center
                text-transform uppercase
                border-bottom 1px solid

                &--red
                    color #e56e56

                &--blue
                    color #5689e5

            &__members
                display flex
                flex-direction column

            &__member
                display flex
                padding 5px

    &__foot
        display flex
        flex-direction column
        justify-content center
        margin-bottom auto
        background rgba(0, 0, 0, 0.2)

        &__option
            display flex
            width 300px
            margin auto

            &__label
                flex 1

            &__input
                flex 1

            &__button
                margin-top 15px
                margin-bottom 15px
                flex 1
                padding 5px
                border none
                border-radius 3px
                background rgba(0, 0, 0, 0.3)
                color white
    &__chat
        
        left calc(50% - 300px)
        display flex
        flex-direction column
        max-width 600px
        justify-content center
        margin-left auto
        margin-right auto
        min-width 600px

        &__messages
            display flex
            flex-direction column
            max-height 150px
            overflow auto
            color white
            background-color rgba(0, 0, 0, 0.6)

        &__message
            display flex
            height 30px
            padding 0 10px
            line-height 30px

            &:nth-child(even)
                background-color rgba(255, 255, 255, 0.02)

            &__value
                margin-left 10px

        &__input-field
            display flex
            align-items center

        &__label
            padding 5px

        &__input
            padding 3px
            flex 1
